body {
    margin: 0;
    background-color: #fcfcfc;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

header {
    border-bottom: 1px solid #ccc;
    background-color: #2f2f2f;
    height: 130px;
}

header > div.header-inner {
    padding: 15px 0 13px 5px;
}

header > div.header-inner > div.header-image {
    width: 353px;
    height: 100px;
    background-image: url('/assets/images/n4dev-aegaeon-logo-4.png');
}

div.container-sections {
    padding: 10px 5px;
}

div.container-menu {
    margin-top: 20px;
}

div.container-menu-links > a {
    display: block;
    text-decoration: none;
    color: #933535;
    font-weight: bold;
    padding: 8px 15px;
    border-top: 1px solid #ccc;
    text-align: center;
}

div.container-menu-links > a:last-of-type {
    border-bottom: 1px solid #ccc;
}

.section-text {
    padding: 5px 10px;
}

h1,h2,h3,h4 {
    color: #444;
}

h1 {
    font-size: 1.6em;
}

h2 {
    font-size: 1.2em;
}


@media (min-width: 960px) {

    header {
        border-bottom: 1px solid #ccc;
        background-color: #2f2f2f;
        height: 200px;
    }

    header > div.header-inner {
        padding: 50px 40px;
    }

    header > div.header-inner > div.header-image {
        width: 478px;
        height: 100px;
        background-image: url('/assets/images/n4dev-aegaeon-logo-3.png');
    }


}
